:root {
    /* Colors */
    --black: #000000;
    --secondary: #bd76ff;
    --white: #ffffff;
    --primary: #5f0080;
    --content: #333333;
    --gray-50: #f9f9f9;
    --gray-100: #e1e1e1;
    --gray-200: #c4c4c4;
    --gray-300: #a6a6a6;
    --gray-400: #898989;
    --gray-500: #6b6b6b;
    --gray-600: #565656;
    --gray-700: #404040;
    --gray-800: #2b2b2b;
    --gray-900: #151515;
    --accent-orange: #fa622f;
    --blue-100: #cce0ff;
    --blue-200: #99c2ff;
    --blue-300: #66a3ff;
    --blue-400: #3385ff;
    --blue-500: #0066ff;
    --blue-600: #0052cc;
    --blue-700: #003d99;
    --blue-800: #002966;
    --blue-900: #001433;
    --info-error: #f03f40;
  
    /* Fonts */
    --heading-medium: 700 16px/140% "Pretendard", sans-serif;
    --heading-large: 700 21.33px/140% "Pretendard", sans-serif;
    --heading-xl: 700 28.43px/140% "Pretendard", sans-serif;
    --heading-xxl: 700 37.9px/140% "Pretendard", sans-serif;
    --heading-xxxl: 700 50.52px/140% "Pretendard", sans-serif;
    --label-small: 600 12px/150% "Pretendard", sans-serif;
    --label-medium: 600 16px/150% "Pretendard", sans-serif;
    --label-large: 600 21.33px/150% "Pretendard", sans-serif;
    --label-xl: 600 28.43px/150% "Pretendard", sans-serif;
    --label-xxl: 600 37.9px/150% "Pretendard", sans-serif;
    --paragraph-small: 400 12px/160% "Pretendard", sans-serif;
    --paragraph-medium: 400 16px/160% "Pretendard", sans-serif;
    --paragraph-large: 400 21.33px/160% "Pretendard", sans-serif;
    --paragraph-xl: 400 28.43px/160% "Pretendard", sans-serif;
  
    /* Effects */
    --text-box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 1);
    --above-high-box-shadow: 0px -16px 48px 0px rgba(0, 0, 0, 0.3);
    --above-medium-box-shadow: 0px -8px 36px 0px rgba(0, 0, 0, 0.2);
    --above-low-box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.1);
    --below-high-box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.3);
    --below-medium-box-shadow: 0px 8px 36px 0px rgba(0, 0, 0, 0.2);
    --below-low-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  
}
