@import url(./../css/a11y.css);
@import url(./../css/base.css);
/* @import url(./../css/normalize.css); */
/* @import url(./../css/reset.css); */
/* @import url(./../css/theme.css); */

/* 전체 영역 */
.product{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  position: relative;
  font-size: 16px;
}


/* 헤드역역 */
h2 {
  background: yellow;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 21.3px;
}

/* 리스트영역 */
.product-list{
  background: pink;
  position: absolute;
  left: 0;
  width: 267px;
  padding-right: 47px;
}

.product-list__title{
  display: block;
  width: 220px;
  height: 52px;
  align-items: center;
  position: relative;
}

.product-list__title p{
  border-bottom: 1px solid #E1E1E1;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;

}

.product-list__title button{
  position: absolute;
  right: 0;
  top: 0;
}

.product-list summary{
  width: 220px;
  height: 52px;
  align-items: center;
}

.product-list ul{
  list-style: none;
  padding: 0;
  margin: o;

} 



/* 컨테이너 영역 */
.product-container{
  background: skyblue;
  position: absolute;
  right: 0;
  width: 783px;
}


