@import url(./../css/a11y.css);
@import url(./../css/base.css);
/* @import url(./../css/normalize.css); */
/* @import url(./../css/reset.css); */
@import url(./../css/theme.css);




/* 전체 영역 */
.product{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  position: relative;
  font-size: var(--label-medium);
}


/* 헤드역역 */
h2 {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 21.3px;
  text-shadow: ;
}

/* 리스트영역 */
.product-list{
  position: absolute;
  left: 0;
  width: 267px;
}

.product-list__title{
  display: block;
  width: 220px;
  height: 52px;
  align-items: center;
  position: relative;
}

.product-list__title p{
  border-bottom: 1px solid #E1E1E1;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;

}

.product-list__title button{
  position: absolute;
  right: 0;
  top: 0;
  color: var(--gray-300);
  font: 600 10px/160%;
  border: 0;
  background:none;
  top: 14px;
}

.product-list summary{
  width: 220px;
  height: 52px;
  align-items: center;
  color: var(--content);
  font: var(--label-medium);
}

.product-list ul{
  list-style: none;
  padding: 0;
  margin: o;

} 

.product-list__sum summary{
  line-height: 52px;
  border-bottom: 1px solid var(--gray-100);
  list-style: none;
  display: block;
  background: url(./image/Arrow-down.svg) no-repeat 100% 50%;
}

.product-list__sum[open] summary{
  background-image: url(./image/Arrow.png);
  
}

.product-list__sum summary::-webkit-details-marker{
  display: none;
}

.product-list__sum li{
  height: 50px;
  width: 220px;
  line-height: 50px;
  /* background: url(./image/isChecked=false.svg) no-repeat 0 50%; */
  position: relative;
}

.product-list__sum li::after{
  content: "1";
  color: var(--gray-300);
  font: var(--paragraph-small);
  margin-left: 4px;
}

.product-list__sum input {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  padding: 0;
  background: url(./image/isChecked=false.svg)no-repeat;
  display: inline-block;
  align-content: center;
  position: absolute;
  top: 10px;
  margin: 0;
}
.product-list__sum input:checked {
  background: url(./image/isChecked=true.svg) no-repeat;
}



.product-list__sum a{
  text-decoration: none;
  color: var(--content);
  font: var(--paragraph-medium);
  margin-left: 32px;
}

/* .product-list__sum li:active {
  background-image: url(./image/isChecked=true.svg) ;
} */

details .product-list__sum__alpha {
  display: inline-block;
  width: 90px;
  height: 20px;
  line-height: 30px;
  padding-top: 5px;
  margin-left: 68px;
  color: var(--gray-300);
  font: var(--label-small);
  background: url(./image/Arrow-small.svg) no-repeat 100% 50%;
}

/* .product-list__category summary{
  list-style: none;
  display: block;
  background: yellow url(./image/Arrow-down.svg) no-repeat 100% 50%;
}

.product-list__category[open] summary{
  background-image: url(./image/Arrow.png);
}

.product-list__category summary::-webkit-details-marker{
  display: none;
} */





/* 컨테이너 영역 */
.product-container{
  position: absolute;
  right: 0;
  width: 783px;
  height: 2923px;
}
.product-container__view a{
  text-decoration: none;
  color: var(--gray-300);
  font: var(--label-medium);
}

.product-container__top{
  position: relative;
  height: 44px;
}

.product-container__top__sum{
  position: absolute;
  color: var(--content);
  font: var(--label-medium);
}

.product-container__top__list{
  position: absolute;
  right: 0;
  display: flex;
}

.product-container__top__list a{
  text-decoration: none;
  color: var(--gray-300);
  font: var(--label-medium);
}

.product-container__top__list__title{
  background: url(./image/Frame.png) no-repeat 100% -10%;
  width: 60px;
  color: var(--content);
  font: 600 16px/150%;
  line-height: 24px;


}

.product-container__top__list ul{
  margin: 0;
  padding: 0;
}

.product-container__top__list a::before{
  display: inline-block;
  content: " ";
  height: 10px;
  border: 1px solid #a6a6a6;
  background: var(--gray-300);
  margin-left: 8px;
  margin-right: 8px;
}

.product-container__top__list li{
  list-style: none;
  margin: 0;
  display: inline-block;
  font: var(--label-medium);

}



.product-container__view__total{
  display: flex;
  flex-direction: column;
}

.product-container__view{
  display: flex;
  gap: 18px;
}



.product-container__view-box__1 {
  width: 249px;
  height: 538px;
  position: relative;
}
.product-container__view-box__2 {
  width: 249px;
  height: 538px;
  position: relative;
}
.product-container__view-box__3{
  width: 249px;
  height: 538px;
  position: relative;
}


.product-container__view-box__img{
  width: 249px;
  display: block;
}

.product-container__view-box__img__wish{
  width: 45px;
  height: 45px;
  background: url(./image/Group.svg);
  position: absolute;
  top: 258px;
  right: 15px;
}

.product-container__view-box__img__wish{
  float: right;
}

.product-container__view-box__text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.product-container__view-box__text__kind {
  color: var(--gray-400);
  font: var(--label-small);
}
.product-container__view-box__text__name{
  color: var(--content);
  font: var(--paragraph-medium);
}

.product-container__view-box__text__dis {
  color: var(--accent-orange);
  font: var(--label-large);
}

.product-container__view-box__text__price{
  color: var(--content, #333333);
  font: var(--label-large);
}
.product-container__view-box__text__del{
  color: var(--gray-400);
  font: var(--paragraph-small);
  text-decoration: line-through;
}

.product-container__view-box__text__ex{
  color: var(--gray-400);
  font: var(--label-small);
}


.numbering{
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.numbering-box{
  width: 34px;
  height: 34px;
  border: 1px solid var(--gray-100);
  margin-left: -1px;
  text-align: center;
  line-height: 34px;
  font: 400 12px;
  padding: 6px 4px 4px 4px;
}



.numbering-box a{
  text-decoration: none;
  color: var(--content);
  display: block;

}



