* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  order: -1;
}

.login__list {
  display: flex;
  justify-content: center;
}

.login__item a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
}
