@import url(./../theme.css);

body{
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    color: var(--content-color);
}

.accent-primary{
    color: var(--primary-color);
}

.accent-new{
    color: var(--new-color);
    font-weight: bold;
}

.register-info{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid var(--content, #333);
    border-bottom: 1px solid var(--content, #333);
    
}



.register-title{
    color: var(--black, #000);
    font-size: 21.328px;
    font-weight: 600;
    line-height: 150%;
    padding: 80px 0px 40px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 44px;
}

.guide{
    display: flex;
    justify-content: flex-end;
    font-size: 12.003px;
    font-weight: 600;
    line-height: 150%;
    margin-right: 185px;
    margin-bottom: 10px;
}

.line-wrapper2{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    padding: 20px 0px; 
}

.line-wrapper3{
    display: flex;
    align-items: space-between;
    gap: 8px;
    padding: 20px 0px;
    align-items: center;
}

.labels{
    width: 139px;
    height: 44px;
    font-weight: 600;
    line-height: 150%;
    padding: 4px;
    display: flex;
    align-items: center;
}

.input-box{
    border-radius: 4px;
    border: 1px solid var(--gray-300, #A6A6A6);
    height: 44px;
    padding: 0px 20px;
    width: 333px;   
}

.address__search{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.address__text{
    font-size: 12.003px;
    line-height: 160%;
    color: #000;
}

/* 주소 검색 버튼 */
.form__address-button{
    width: 333px;
    height: 44px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--primary, #5F0080);
    font-weight: 600;
    line-height: 150%;
}

/* 버튼과 텍스트 줄맞춤 */
.button-text{
    display: flex;
    align-items: center;
    gap: 8px;
}

.gender-wrapper, .add-info-wrapper{
    width: 333px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
}

[type="radio"]{
    appearance: none;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

[type="radio"]:checked{
    border: 7px solid var(--primary-color);
    background: #c4c4c4;
}

.add-button{
    appearance: none;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.add-info-list{
    display: flex;
    gap: 8px;
}

/* 이용약관동의 */
.agree{
    display: flex;
    gap: 8px;
    width: 640px;
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
}


.agree-list1{
    display: flex;
    padding: 0px 0px 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

.agree-list2{
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}

.agree-all__text{
    font-size: 21.328px;
    font-weight: 600;
    line-height: 150%;
}

.agree-all__description{
    font-size: 12.003px;
    line-height: 160%;
    color: var(--gray-400, #898989);
    margin-left: 32px;
}

.agree-button{
    appearance: none;
    background: url(./../../imgs/Input/Check.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: -8px -8px;
}

.agree-button:checked{
    appearance: none;
    background: url(./../../imgs/Input/Check.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: -8px -40px;
}

.see{
    font-size: 12.003px;
    line-height: 160%;
    margin-right: 4px;
}

/* 중복확인, 인증번호 받기 버튼 */
.form__button{
    display: flex;
    width: 143px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--primary, #5F0080);
    background: transparent;
    font-weight: 600;
    line-height: 150%;
}



.submit-button-wrapper{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

/* 가입하기 버튼 */
.submit-button{
    width: 340px;
    height: 54px;
    border-radius: 4px;
    border:none;
    background: var(--primary, #5F0080);
    color: var(--white, #FFF);
    font-weight: 600;
    line-height: 150%;
}