* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**** 로그인 영역 ****/
.login {
  order: -1;
  margin-top: 5px;
  width: 65.625rem;

  /* 마진 오토 속성은 정확히 언제주는거지? */
  /* margin-left: auto;
  margin-right: auto; */
}

.login__list {
  display: flex;
  justify-content: flex-end;
}

.login__item:nth-child(-n + 2)::after {
  content: "";
  width: 1px;
  height: auto;
  border-right: 1px solid var(--border-color);
  margin: 0 15px;
}

.login__item a {
  text-decoration: none;
  color: black;
}

/**** 네비게이션 영역 ****/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65.625rem;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.logo__title a::before {
  content: url(./../imgs/logo.png);
  height: 100%;
}

.logo__title a,
.logo__side a {
  text-decoration: none;
  color: black;
}

.logo__title a {
  font-size: 1.33rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo__title:first-child::after {
  content: "";
  border-right: 1px solid var(--border-color);
  height: 60%;
  margin: 0 15px;
}

.logo__side

/**** 네비게이션 사이드바 영역 ****/

.nav__side-bar {
  display: flex;
  justify-content: space-between;
  width: 9.25rem;
}

.nav__side-bar__btn {
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 0 10px;
}
