@import url(./css/a11y.css);
@import url(./css/base.css);
@import url(./css/reset.css);
@import url(./css/normalize.css);
@import url(./css/theme.css);


body{
    color: var(--content-color);
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.accent-primary{
    color: var(--primary-color);
}

hr{
    margin: 0;
    padding: 0;
}

.footer{
    margin-right: auto;
    margin-left: auto;
}

.footer-top{
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding: 28px 0px 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--gray-100, #E1E1E1);
}

.footer-top__left{
    width: 477px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.center-title{
    font-size: 21.328px;
    font-weight: 700;
}

.opening__number{
    font-size: 37.897px;
    font-weight: 700;
}

.quest{
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.quest__kakao, .quest__private, .quest__bulk{
    display: flex;
    gap: 16px;
    flex-direction: row wrap;
    line-height: 160%;
}

.quest__button{
    width: 140px;
    height: 40px;
    border: 1px solid #C4C4C4;
    text-align: center;
    line-height: 40px;
}

.non-member-quest{
    font-size: 12.003px;
    line-height: 160%;
    
}

/* footer-top__right */

.footer-top__right{
    display: flex;
    flex-direction: column;
    gap: 28px;
    
}

/* paragraph medium 값 주기 */
.about{
    width: 486px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 160%;
}

.info{
    font-style: normal;
    font-size: 12.003px;
    line-height: 160%;
}

.sns{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    
}

.sns__img{
    width: 30px;
    height: 30px;
}

.footer-certification{
    display: flex;
    width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
    padding: 24px 0px 32px 0px;
    justify-content: space-between;
    /* align-items: flex-start; */
    
}

.footer-rights{
    background: var(gray50);
    text-align: center;
    color: var(gray400);
}

.certi-list{
    display: flex;
    gap: 8px;
    align-items: flex-start;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}

.certi-text{
    font-size: 10px;
    line-height: 160%;
}

.certi-text__toss{
    width: 160px;
}

.certi-text__woori{
    width: 241px;
}

.footer-rights{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px 4px 32px 4px;
    font-size: 10px;
    color: #898989;
    line-height: 160%;
    background: #F9F9F9;
}